<div class="container">
  <div>
    <%= link_to '商品新規追加', items_new_path, class: 'btn btn-light' %>
  </div>

  <div>
    <%= link_to 'コミュニティリクエスト一覧', admin_communities_request_index_path, class: 'btn btn-light' %>
  </div>

  <div>
    <%= link_to '定期購買申請者一覧', admin_subscriptions_index_path, class: 'btn btn-light' %>
  </div>

  <div>
    <%= link_to '受注情報', admin_orders_search_path, class: 'btn btn-light' %>
  </div>

</div>