search.html.erb

<h1>Admin::Orders#search</h1>
<p>Find me in app/views/admin/orders/search.html.erb</p>


<div class="container" >
	<h2>受注情報編集</h2>
	<div class="order_detail">
		<table class="table">
			<tr>
				<th>日付</th>
				<th>User名</th>
				<th>アーティスト名/アルバム名/シングル名</th>
				<th>枚数</th>
				<th>受注詳細</th>
			</tr>
			<!-- ループ処理　１０件表示 -->
			<tr>
				<td>19年2月12日</td>
				<td>山田太郎</td>
				<td>Mr.Children/ミスターの子供</td>
				<td>1</td>
				<td><%= link_to '詳細', admin_orders_show_path, class: 'btn btn-light' %>
</td>

			</tr>
			<tr>
				<td>19年2月12日</td>
				<td>山田一郎</td>
				<td>アーティスト名/アルバム名</td>
				<td>3</td>
				<td><%= link_to '詳細', admin_orders_show_path, class: 'btn btn-light' %></td>

			</tr>
			<!-- ループ処理　ここまで -->
		</table>
		<div class="col-lg-4 offset-lg-4">
			<ul class="pagination">
				<li class="page-item"><a class="page-link" href="#"><<</a></li>
				<li class="page-item"><a class="page-link" href="#"><</a></li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item"><a class="page-link" href="#">></a></li>
				<li class="page-item"><a class="page-link" href="#">>></a></li>
			</ul>
		</div>
		<div class="row">
		<div class="select_status col-lg-4">
		</div>
		<div class="select_status col-lg-4" >
			<p>受注ステータス
				<select name="order_status">
					<option>受付中</option>
					<option>商品準備中</option>
					<option>出荷済み</option>
				</select></form>
			</p>
		</div>
		<div class="select_status col-lg-1" >
			<button type="button" class="btn btn-danger">一括編集</button>
		</div>
		</div>
	</div>
</div>