<div class="container">
<div class="row">
<h1>受注情報詳細</h1>
</div>

<br>


<div class="row">
<div class="col">
<p>日付 00年00月00日</p>
</div>
</div>
<div class="row">
<img src="https://upload.wikimedia.org/wikipedia/ja/b/b5/Noimage_image.png">
<div class="col">
<table>
<thead>
  <tr>
     <th>アーティスト　　</th>
     <th>シングル／アルバム名　　</th>
  </tr>
</thead>
<tbody>
 <tr>
      <td>
      	<a>Mr.Children　　</a>
      </td>
      <td>
      	<a>~~~~~~~~~~~　　</a>
      </td>
</tr>
</tbody>
</table>
<br>
<br>

<p>価格 ¥2,000</p>
<p>枚数 1枚</p>
<p>ステータス　受付</p>
</div>
</div>

<div class="row">
<div class="col-md-4 offset-8">
<p>合計金額 ¥2,000（税込)</p>

</div>
</div>

<br>

<div class="row">
<div class="col">
<h4>User名　山田太郎さん</h4>
<p>住所</p>
<p>〒0000000</p>
<p>東京都渋谷区~~~~~~~~~~~~</p>
</div>

<div class="col">

<h4>お支払い方法</h4>
<p>クレジットカード</p>
<p>〒クレジットカード情報</p>
<a>No.   1111111111110000
有効期限　03/20
</a>
</div>
</div>

<div class="row">
<div class="col-md-4 offset-8">
<%= link_to "受注情報編集", admin_orders_edit_path, class: 'btn btn-light' %>
<br>
<br>
</div>
</div>
</div>