<div class="container">
	<h1>コミュニティ名　Mr.Children</h1>

	<h2>Question一覧</h2>
	<div class="row">
		<div class="col-xs-2">
			<ul style="list-style:none;">
				<li>
					<h3>メンバーと友達になりたいのですが・・・</h3>
					<a>何か方法はないでしょうか。</a>
				</li>
				<br>
				<li>
					<h3>メンバーと結婚したいのですが・・・</h3>
					<a>何か方法はないでしょうか。</a>
				</li>
				<br>
				<li>
					<h3>マジ卍マジ卍マジ卍</h3>
					<div class="">マジ卍マジ卍マジ卍</div>
				</li>
				<br>
			</ul>
		</div>
	</div>

		<div class="col-md-9 offset-md-3">
		<ul class="pagination">
			<li class="page-item"><a class="page-link" href="#"><<</a></li>
			<li class="page-item"><a class="page-link" href="#"><</a></li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#">></a></li>
			<li class="page-item"><a class="page-link" href="#">>></a></li>
		</ul>
		<br>
		</div>

	<div class="row">
		<div class="col-md-3 offset-md-8">
			<%= link_to "質問を投稿する", community_questions_new_path, class: "btn btn-light" %>
		</div>
	</div>
</div>