<div class="container">

<h2><strong>コミュニティ名</strong><span>（コミュニティ名表示）</span></h2>

<!-- 新規質問投稿 -->
<div class="row">
  <div class="col-lg-4 offset-lg-1">
    <h3>Question</h3>
  </div>
</div>

<div class="row">
  <div class="col-lg-9 offset-lg-1">

<!-- 質問投稿後で変更 -->
    <textarea class="col-lg-11">
    </textarea>
    <p class="col-lg-2 offset-lg-10"><input type="submit" value="送信"></p>

  </div>
</div>

</div>
