<div class="container">

<h2><strong>コミュニティ名 </strong><span><%= @community.name %></span></h2>

<!-- 新規質問投稿 -->
<div class="row">
  <div class="col-lg-4 offset-lg-1">
    <h3>Question</h3>
  </div>
</div>

<div class="row">
  <div class="col-lg-9 offset-lg-1">

<!-- 質問投稿後で変更 -->
    <%= form_for @question, url: community_question_new_path(@community.id) do |f| %>
    <%= f.text_field :question, class: "col-lg-8" %>
    <%= f.submit "送信", class: "col-lg-1" %>
    <% end %>

  </div>
</div>

</div>
