<div class="container">
<div class="row">
<div class="col-xs-3">

<h1>マイコミュニティ</h1>
</div>
</div>

<div class="row">
<div class="col-md-12">
<table>
<thead>
  <tr>
     <th>コミュニティ名</th>
  </tr>
</thead>


<!-- ユーザーeachdo-->


<tbody>
 <tr>
      <td>
      	<a>Mr.Children</a>
      </td>
      <td>
      	<a><%= link_to "詳細", communities_show_path, class: "" %></a>
      </td>
    </tr>
</tbody>
</table>
</div>
</div>
</div>