<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

    <br>
    <br>
    <br>

    <div class="container">
    	<div class="row">

    		<!-- 部分テンプレートで置き換え -->
    		<div  class="col-lg-5"style="background-color: orange";>
    			<h2>サイドバー</h2>
    		</div>
    		<!-- 部分テンプレートで置き換え -->
    		
    		<div class="col-lg-7 ">
    			<br>
    			<br>
    			
                <!-- 実績ポイント・ランキング -->
                <div class="point_ranking">
    				<table>
    					<tbody>
    						<tr>
    							<th id="ranking"><h3><strong> Point</strong></h3></th>

    							<!-- form_forに置き換え -->
    							<th id="point"><h4>23pt</h4></th>
    						</tr>
    						<tr>
    							<th id="ranking"><a href="/users/ranking_show" class="ranking"><h3><strong> Ranking</strong></h3></a></th>

    							<!-- form_forに置き換え -->
    							<th id="ranking"><h4>5672位<h4></th>
    						</tr>
    					</tbody>
    				</table>
    			</div>

    				<br>
    				<br>

    				<!-- マイコミュニティ表示 -->
    				<h3>マイコミュニティ</h3>
    					<table class="table">
    						<thead>
    							<tr>
    								<!-- ループ処理　直近５件のみ表示 -->
    								<tr><th><a href="/communities/show">Mr.Children</a> </th></tr>
    								<tr><th><a href="/communities/show">アーティスト名</a> </th></tr>
    								<tr><th><a href="/communities/show">アーティスト名</a> </th></tr>
    								<tr><th><a href="/communities/show">アーティスト名</a> </th></tr>
    								<tr><th><a href="/communities/show">アーティスト名</a> </th></tr>
    								<!-- ループ処理　直近５件のみ表示 -->
    							</tr>
    						</thead>
    					</table>
    					<a href="/users/my_community_index">more</a>
    					<br>
    					<br>
                        
                        <!-- 自ユーザーのみ表示 -->
    					<button type="button" class="btn btn-danger">退会 
    				</div>
    			</div>
    		</div>
    	</div>