<main class="container">
  <br>
  <br>
      <h1>Rhapsody&emsp;~ラプソディ~</h1>
      <br>
      <h2>ファンのファンによるファンのためのサイト</h2>
      <br>
      <h2>・<strong>CD</strong>の購入を通して</h2>
      <h2>・ファン同士が繋がる</h2>
      <h2>・コレクション欲を満たせる</h2>
      <h2>・新たなアーティストに出会える</h2>
    </div>
    <div class="col"></div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</main>
