<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="container">
  <br>
  <br>
  <div class="row justify-content-center my-lg-3">
    <div class="col-lg-10 text-dark">
      <!--<h1 class="display-3"><strong>ラプソディ</strong></h1>-->
      <br>
      <h1 class="display-4">ファンの、ファンによる、ファンのためのサイト</h1>
      <h3>-<strong>CD</strong>の購入を通して</h3>
      <h3>-ファン同士が繋がる</h3>
      <h3>-コレクション欲を満たせる</h3>
      <h3>-新たなアーティストに出会える</h3>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
