<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10 mx-auto my-lg-4">
      <h3>ご注文番号: <%= @order.id %></h3><br>
      <h1>ご注文ありがとうございました。</h1>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

