<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<h1>定期購買申請</h1>
		</div>
	</div>
	<div class="row">
		<h4>アーティスト名 <%= @community.name %></h4>
	</div>
<br>

	<div class="row">
		<div class="image">
      		<%= attachment_image_tag @community.image_id, :image, :fill, 200, 200, :size => "100x100", fallback: "no-user-image.jpg" %>
    	</div> 
		<div class="col">
			<h5>紹介文</h5>
			<p><%= @community.introduction %></p>
		</div>
	</div>
<br>
		<h4>お支払い方法</h4>
	<div class="row">
		<div class="col">
			<p>クレジットカード</p>
    	</div>
<br>
    </div>
    <div class="row">
		<div class="col">
			<%= link_to "申請する", order_artist_subscriptions_path(community_id: @community.id, shopping_cart_id: 0), method: :post, class: "btn btn-light" %>
		</div>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>