<div class="container">
<div class="row">
<div class="col-xs-3">
<h1>定期購買申請</h1>
</div>
</div>

<div class="row">
<h4>アーティスト名 Mr.children</h4>
</div>
<br>

<div class="row">
<img src="https://upload.wikimedia.org/wikipedia/ja/b/b5/Noimage_image.png">
<div class="col">
<h4><br>紹介文</h4>
	<p>ミスチル好き集まれ！</p>
</div>
</div>

<br>

<div class="col-md-9 offset-md-3">
<h4>お支払い方法</h4>
<form action="cgi-bin/abc.cgi" method="post">
<p>
<input type="checkbox" name="payment" value="1" checked="checked">クレジットカード
</p>
<p>
<%= link_to "申請する", orders_show_path, class: "btn btn-light" %>
</p>
</form>
</div>


</div>
</div>
</div>
