<div class="container">
<div class="row">
<div class="col-xs-3">

<h1>User購入履歴</h1>
</div>
</div>

<div class="row">
<div class="col-md-12">
<table>
<thead>
  <tr>
     <th>購入日　　</th>
     <th>数量　　</th>
     <th>金額　　</th>
  </tr>
</thead>


<!-- ユーザーeachdo-->


<tbody>
 <tr>
      <td>
      	<a>2019/3/20 のお買い物　　</a>
      </td>
      <td>
      	<a>3点　　</a>
      </td>
      <td>
      	<a>¥201,938  </a> 
      </td>
      <td>
      	<%= link_to "詳細", user_histories_index_path, class: 'btn btn-light' %>
      </td>
    </tr>
</tbody>
</table>
</div>
</div>
</div>