

<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <!-- attachment_image_tag ジャケット画像 -->
    </div>

      <!-- 表示部分は後で変更する -->
    <div class="col-lg-5">
      <p><%= @hitory.item.artist.artist_name %></p>
      <p>（アルバム名/シングル名表示）</p>
      <p><span>価格:</span><span>（値段表示）</span></p>
      <p><sapn>購入日:</span><span>（購入日表示）</sapn></p>
      <p><span>送付先:</span><span>（住所表示）</span></p>
      <p><span>ステータス:</span><span>（ステータス表示）</span></p>
    </div>
  </div>

</div>