// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box1 {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  border: solid 3px #000000;
}
.box1 p {
  margin: 0;
  padding: 0;
}

.profile {
  .user-image {
    width: 140px;
    height: 140px;
    img {
      width: 100%;
      border: 1px solid #efefef;
      border-radius: 50%;
    }
  }
}
