<div class="profile">
  <div class="user_image">
    <%= attachment_image_tag current_user, :image, :fill, 30, 30, :size => "100x100", fallback: "no-user-image.jpg" %>
  </div><br>
  <h3 class="user_name">Name &nbsp <u>John Smith</u></h3>
  <br>
  <h3>Introduction</h3>
  <div class="box1">
    <p>Hello!</p>
  </div>
  <
</div>
