<div class="profile">
  <!-- 自ユーザー -->
    <div class="user_image">
      <%= attachment_image_tag user, :image, :fill, 200, 200, :size => "100x100", fallback: "no-user-image.jpg" %>
    </div><br>
    <h5 class="user_name">Name &nbsp <u><%= user.name %></u></h5>
    <br>
    <h5>Introduction</h5>
    <div class="card">
      <div class="card-body">
        <%= user.introduction %>
      </div>
    </div><br>
    <% if current_user.id == user.id %>
      <%= link_to "ユーザー編集", edit_user_path(user), class: "btn btn-info" %><br>
    <% end %>
</div>
